<h1>Login</h1>

<form action="/sessions/create" method='post'>
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label for="email">Email</label>
  <input type="text" id="email" name="email">
  <label for="password">Password</label>
  <input type="password" id="password" name="password">
  <input type="submit" id="login" value="Log In">
</form>